a{
  display: block;
}
.container{
  width: 300px;
  height:400px;
  margin:20px;
  text-align: center;
  border-radius: 20px;
  .card{
    width: 300px;
    height:400px;
  }
  img{
    margin: 10px auto 0 auto;
    width: 250px;
    height:300px;
    object-fit: contain;
  }
  p{
    margin-top: 10px;
  }
}
