<ng-container *ngIf="cart.length!=0; else elseBlock">
<div  class= "kosz" *ngFor="let item of cart; index as i">
<p>Kod produktu:{{item.id}}</p>
<p>Nazwa: {{item.name}}</p>
<p>Cena: {{item.price}}</p>
<input (change)="update()" type="number" [(ngModel)]="item.qty" min="0" max="1000">
<button class="btn-danger" (click)="removeItem(i)">Usuń</button>
</div>
<p id="cena">Wartość koszyka:  {{value.toFixed(2)}} zł</p>

<button class="btn-primary" id="dalej" (click)="continue()">Przejdź dalej</button>




</ng-container>
<ng-template #elseBlock>Koszyk jest pusty.</ng-template>

