.clip{
  height: 50px;
  background-color: #CA33FF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  a{
    color:white;
  }
}
p{
  margin-bottom: 0;
}
.links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contact, .login{
  height: 50px;
  text-align: center;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact:hover,.login:hover{
  background-color: #d257ff;
}

header{
  height: 100px;
  background-color: #FFF500;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .logo{
    img {
      width: 182px;
      height: 86px;
    }
  }

  nav{
    a{
      padding:20px 35px;
      font-size:24px;
    }
    a:hover{
      background-color: rgba($color: #ffffff, $alpha: 0.6);
    }
  }

  .cart{
      height:100px;
      width:150px;
      display:flex;
      align-items: center;
      justify-content: center;


    a{
      font-size: 1.4rem;
      width: inherit;
      height: 70px;
      display:flex;
      align-items: center;
      justify-content: center;
      border: 3px rgba($color: #ff0000, $alpha: 0.3) solid;
    }
    a:hover{
      background-color: rgba($color: #ffffff, $alpha: 0.6);
    }


  }
}
