<div class="clip">
  <div class="links">
    <a routerLink="contact">
    <div class="contact">
      Kontakt
    </div>
  </a>
  <a routerLink="login" >
    <div class="login">
      Logowanie
    </div>
  </a>
  </div>
</div>
<header>
  <a routerLink="">
  <div class="logo">
    <img src="../../assets/img/Method_Draw_Image.png" alt="" srcset="">
  </div>
</a>
  <nav>
    <a routerLink="series">SERIE LEGO</a>
    <a routerLink="promo">PROMOCJE</a>
    <a routerLink="announcements">ZAPOWIEDZI</a>
  </nav>
  <div class="cart">
    <a routerLink="basket"><p>Koszyk</p></a>
  </div>
</header>
