<div class="container">
    <div class="grid">
        <div class="jeden">
            
                <img src="../../assets/img/flash.png" alt="" srcset="">
              
        </div>

        <div class="dwa">
    <div class="title">KONTAKT</div>
    <div class="logo">
        <img src="../../assets/img/Method_Draw_Image.png" alt="" srcset="">
      </div>
      <div class="dane">
          <h1>PUERTO LEGO - Sklep z klockami LEGO</h1>
          <p>Telefon: +48 508216937</p>
          <p>Telefon 2: +48 509222937</p>
          <p>E-mail: kontakt@puertolego.pl</p>
          <p>Adres:</p>
          <p>ul.Klockowa 1337</p>
          <p>41-200, Brickcity</p>
          <br>
          <br>
      </div>
    </div>

    <div class="trzy">
        <img src="../../assets/img/statek.png" alt="" srcset="">
    </div>


      </div>
      <div class="grid-container">
        <div class="one">
            <h1>Obsługa zamówień</h1>
            <br>
            <p>Grzegorz Brzęczyszczykiewicz</p>
            <br>
            <p>Telefon: +48 123456789</p>
            <p>E-mail: help@puertolego.pl</p>
        </div>
        <div class="two">
            <h1>Reklamacja</h1>
            <br>
            <p>Luke Skywalker</p>
            <br>
            <p>Telefon: +48 501502503</p>
            <p>E-mail: reklamacja@puertolego.pl</p>
        </div>
      </div>
      <div class="klocuchy">
        <img src="../../assets/img/sup.png" alt="" srcset="">
      </div>
</div>
