@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

@font-face {
  font-family: "Ranchers";
  src: local("Rnachers"), url(./assets/fonts/Ranchers/Ranchers-Regular.ttf) format("truetype");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: Ranchers;
  letter-spacing: 1px;
}
#toast-container{
  font-family: 'Courier New', Courier, monospace;
}
a,a:hover{
  text-decoration: none;
  color: black;
}


