<div class="container">
  <div class="main">
    <img src="./../../assets/img/products/{{id}}-b.jpg">
    <div class="info">
      <p>{{product.name}}</p>
      <p>Kod produktu: {{product.id_pro}}</p>
      <p>Seria: {{product.collection}}</p>
      <p>Ilość elementów: {{product.elements}} szt.</p>
      <p>Wiek: {{product.age}} lat</p>
      <p>Ilość w magazynie: {{product.quantity}} szt.</p>
      <p>Cena: {{product.price}} zł</p>
      <div>Ilość: <input type="number"  [(ngModel)]="qty" name="quantity" id="quantity" min="1" max="{{product.quantity}}" style="width:60px;"></div>
      <button (click)="addItem()">Do koszyka</button>
    </div>
    <div *ngIf="token.logged"></div>
    <button *ngIf="butn" (click)="updateWishlist()">Usuń</button>
    <button *ngIf="!butn" (click)="updateWishlist()">Dodaj</button>
  </div>
  <div class="comments">Komentarze</div>
  <hr>
  <div *ngFor="let item of comments">
    <p>{{item.rating}}/5</p>
    <p>{{item.username}}</p>
    <p>{{item.description}}</p>
  </div>
  <div>
    <br>
    <p>DODAJ KOMENTARZ</p>
    <form (ngSubmit)="form.valid && addComment()" #form="ngForm">
      <input type="number"  [(ngModel)]="newComment.rating" name="rating" id="rating" min="1" max="5" required>
      <label for="description"></label>
      <textarea name="description" id="description" [(ngModel)]="newComment.description" cols="30" rows="10" maxlength="300" required></textarea>
      <input type="submit" value="Dodaj komentarz">
    </form>
  </div>
</div>
