<div class="container">
  <div class="main">
    <img src="./../../assets/img/products/{{id}}-b.jpg">
    <div class="info">
      <p>{{product.name}}</p>
      <p>Kod produktu: {{product.id_pro}}</p>
      <p>Seria: {{product.collection}}</p>
      <p>Ilość elementów: {{product.elements}} szt.</p>
      <p>Wiek: {{product.age}} lat</p>
      <p>Ilość w magazynie: {{product.quantity}} szt.</p>
      <p>Cena: {{product.price}} zł</p>
      <div>Ilość: <input type="number"  [(ngModel)]="qty" name="quantity" id="quantity" min="1" max="{{product.quantity}}" style="width:60px;"></div>
      <button (click)="addItem()">Do koszyka</button>
    </div>
    <div *ngIf="token.logged">
    <button *ngIf="butn" class="btn-primary" (click)="updateWishlist()">Usuń z listy życzeń</button>
    <button *ngIf="!butn" class="btn-primary" id="dodaj" (click)="updateWishlist()">Dodaj do listy życzeń</button>
  </div>
  </div>
  <div class="comments">Komentarze</div>
  <hr>
  <div *ngFor="let item of comments" class="comm">
    <p>Ocena: {{item.rating}}/5</p>
    <p>Użytkownik: {{item.username}}</p>
    <p>{{item.description}}</p>
  </div>
  <div *ngIf="token.logged">
    <br>
    <hr>
    <form (ngSubmit)="form.valid && addComment()" #form="ngForm" id="comment">
      Oceń produkt: <input type="number"  [(ngModel)]="newComment.rating" name="rating" id="rating" min="1" max="5" required>
      <br>
      <label for="description"></label>
      <div class="d-flex flex-row align-items-start">
      <textarea class="form-control ml-1 shadow-none textarea" name="description" id="description" [(ngModel)]="newComment.description"  maxlength="300" required></textarea>
      </div>
      <div class="mt-2 text-center"><input class="btn btn-primary btn-sm shadow-none" type="submit" value="Dodaj komentarz"></div>
    </form>
  </div>
</div>
