<div class="registerform">
    <h1>Rejestracja</h1>
    <P><label for="name">Imię: </label>
    <input type="text" id="name"></P>
    <P><label for="surname">Nazwisko: </label>
        <input type="text" id="surname"></P>
        <P><label for="login">Login: </label>
            <input type="text" id="login"></P>
            <P><label for="password">Hasło: </label>
                <input type="text" id="password"></P>
    <br> <input type="submit" id="submit" value="Zarejestruj się! "><br>
    <a href="login" class="log">    <h2>Masz już konto? Zaloguj się!</h2>
    </a>
    <img src="../../assets/img/klocuchy.png" alt="" srcset="">
    


</div>