<div class="loginform">
    <h1>Zaloguj się!</h1>
    <br>
        <P><label for="username">Login: </label>
    <input type="text" id="username" placeholder="Login"></P>
    <br>
    <p><label for="password">Hasło: </label>
    <input type="password" id="password" placeholder="*****"></p>
    <br> <input type="submit" id="submit" value="Zaloguj się!"><br>
    <a href="register" class="register">    <h2>Nie masz konta? Zarejestruj się teraz!</h2>
    </a>
    <img src="../../assets/img/skywalker.png" alt="" srcset="">


</div>