<div class="loginform">
    <h1>Zaloguj się!</h1>
    <br>
    <form #loginForm="ngForm" id="login" (ngSubmit)="loginForm.valid && login()">
    <p><label for="username">Login: </label>
    <input type="text" id="username" name="username" placeholder="Login" [(ngModel)]="model.username" required #username="ngModel"></p>
    <br>
    <p><label for="password">Hasło: </label>
    <input type="password" id="password" name="password" placeholder="*****" [(ngModel)]="model.password" required></p>
    <br> <input type="submit" id="submit" value="Zaloguj się!"><br>
    </form>
    <a href="register" class="register">    <h2>Nie masz konta? Zarejestruj się teraz!</h2>
    </a>
    <img src="../../assets/img/skywalker.png" alt="" srcset="">


</div>
